<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SummerCodingAndroid"
        tools:targetApi="31">
        <activity
            android:name=".ckgod.TmpActivity"
            android:exported="false" />
        <activity
            android:name=".ckgod.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yesxon.YesxonActivity"
            android:exported="false" />
        <activity
            android:name=".leesc0839.Leesc0839Activity"
            android:exported="false" />
        <activity
            android:name=".gok5959.Gok5959Activity"
            android:exported="false" />
        <activity
            android:name=".d11210920.D11210920Activity"
            android:exported="false" />
    </application>

</manifest>